BEGIN;
DO 
DECLARE
    v_user_dup UUID := '3cd4e4d4-65f8-45b8-9c60-e0d0aa99624a';
BEGIN
    SET LOCAL ROLE authenticated;
    
    -- Teste 1: Duplicate check no user existente
    EXECUTE format('SET LOCAL request.jwt.claim.sub = %L', v_user_dup::text);
    BEGIN
        PERFORM public.create_player('Player A2', 'PA', 20, 'BR', 'BR', 'Direito', '1.80', '80', 'Atacante', 'Finalizador', 'avatar1.webp');
        RAISE EXCEPTION 'FALHA: Segunda criação deveria falhar.';
    EXCEPTION WHEN raise_exception THEN
        -- Esperado
    END;

    -- Teste 2: Update direto
    BEGIN
        UPDATE public.jogadores SET altura = '2.00' WHERE user_id = v_user_dup;
        RAISE EXCEPTION 'FALHA: Update deveria falhar.';
    EXCEPTION WHEN insufficient_privilege THEN
        -- Esperado
    END;

    RAISE NOTICE 'TESTES PASSARAM!';
END ;
ROLLBACK;
